body {
    background-color: #75cff0;
    font-family: ‘Trebuchet MS’, ‘Lucida Sans Unicode’, ‘Lucida Grande’, ‘Lucida Sans’, Arial, sans-serif;
}

h1,
h2,
h4 {
    color: #070000;
    text-align: left;
    /* font-weight: bold; */
    font-family: ‘Trebuchet MS’, ‘Lucida Sans Unicode’, ‘Lucida Grande’, ‘Lucida Sans’, Arial, sans-serif;
}

h5 {
    font-family: ‘Trebuchet MS’, ‘Lucida Sans Unicode’, ‘Lucida Grande’, ‘Lucida Sans’, Arial, sans-serif;
    color: rgb(3, 3, 3);
    margin-left: 66%;
    margin-top: 50%;
    font-size: medium;

}

h6 {
    font-family: ‘Trebuchet MS’, ‘Lucida Sans Unicode’, ‘Lucida Grande’, ‘Lucida Sans’, Arial, sans-serif;
    color: rgb(10, 10, 10);
    margin-left: 50%;
    margin-top: 20%;
    font-size: medium;

}

h7 {
    color: #070000;
    text-align: center;
    /* font-weight: bold; */
    font-family: ‘Trebuchet MS’, ‘Lucida Sans Unicode’, ‘Lucida Grande’, ‘Lucida Sans’, Arial, sans-serif;
    font-size: 15px;
}

p,
ul {
    color: rgb(0, 0, 0);
    font-family: ‘Trebuchet MS’, ‘Lucida Sans Unicode’, ‘Lucida Grande’, ‘Lucida Sans’, Arial, sans-serif;
}

a {
    color: #E0E0E2;
    font-size: 12px;
}

thead {
    background-color: rgb(121, 247, 209);
}

/*this section of the CSS code will change Bootstrap eleemnts */
.navbar-brand {
    font-size: 30px;
    font-weight: bolder;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #091ccc;
}

.box {
    background-color: #25BBA9;
    padding: 5%;
    border: 2px solid #7389AE;
    border-radius: 10px;
    margin-top: 80px;
}

/* This Code will modify classes set by the team */
#nav_color1 {
    color: #FFFFFF;
}

#map {
    height: 450px;
    width: 85%;
    position: relative;
    outline: currentColor none medium;
    margin-top: 3%;
}

#myDiv {
    height: 450px;
    width: 85%;
    /* position: relative; */
    /* margin-top: 10%; */
}

#gen {
    height: 450px;
    width: 85%;
    position: relative;
    /* margin-top: 3%; */
}

#bar {
    height: 450px;
    width: 85%;
    position: relative;
    margin-top: 3%;
}

#selDataset {
    position: relative;
    margin-left: 50%;
    font-size: medium;
}

#selDataset1 {
    margin-left: 66%;
    font-size: medium;
    position: relative;
}

#states {
    margin-left: 50%;
    font-size: medium;
    position: relative;


}

#elec {
    height: 450px;
    width: 85%;
    position: relative;
    margin-top: 3%;

}

#graph {
    height: 450px;
    width: 85%;
    position: relative;


}

.legend {
    color: #666;
    padding: 6px 8px;
    font: 12px Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.legend ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    clear: both;
}

.legend li {
    display: inline-block;
    width: 30px;
    height: 22px;
}

.legend .min {
    float: left;
    padding-bottom: 5px;
}

.legend .max {
    float: right;
}

.pad {
    padding-left: 50px;
    padding-right: 50px;
}

.title {
    padding-left: 50px;
    padding-right: 50px;
    /* padding-top: 100px; */
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 5%;
}

.sum {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    text-align: center;
    font-size: 15px;  
    font-family: ‘Trebuchet MS’, ‘Lucida Sans Unicode’, ‘Lucida Grande’, ‘Lucida Sans’, Arial, sans-serif; 
}