<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>US Energy Consumption</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Boostrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Monoton|Poppins&display=swap" rel="stylesheet">

    <!-- MapBox JS -->
    <script src="https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js"></script>

    <!-- Leaflet-Choropleth JavaScript -->

    <!-- D3 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

    <!-- Plotly JS-->


    <!-- Our CSS -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <a id="nav_color1" class="navbar-brand" href="/">Home</a>
        <li class="nav-item dropdown">
            <a id="nav_color1" class="nav-link dropdown-toggle navbar-brand" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Energy
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="energy">Generation</a>
                <a class="dropdown-item" href="energy2">Consumption</a>
            </div>
        </li>

        <li>
            <a id="nav_color1" class="nav-link navbar-brand" href="electrical">Electrical Power Consumption</a>
        </li>
    </nav>
    <div class="row">
        <div class="col-md-12" align="center">
            <div id="elec"></div>
        </div>
        <div class="col-md-12 pad">
            <h1>The above chart shows how much energy is used by each state to perform an action such as making car
                parts or energy used to power your home. Natural Gas and Coal appears to be the most used energy source
                as of 2018. States like Connecticut, New Hampshire, and South Carolina use Nuclear Energy. Nuclear
                Energy powers over 50% of America’s Clean Energy, is more reliable, and does not emit greenhouse gases
                while generating electricity. In 2018 99% of Vermont’s energy consumption was Renewable energy.</h1>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="../static/js/electrical_logic.js"></script>

    <style>
        marquee {
            font-size: 15px;
            font-weight: 800;
            color: #000000;
            font-family: sans-serif;
        }
    </style>
    <marquee>Team Members: Ariana Monteiro, Brandon Daniels, Derrik Dennis, Darren Lucca, Jen Trevino, Sebastian Galindo
    </marquee>
    <div class="footer">
        <div class="pad">
            <p>The data we used has been scraped from www.eia.gov </p> 
            <p>UT Austin Data Bootcamp 2020</p>
        </div>
    </div>
</body>

</html>