<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>US Energy Data Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Boostrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Monoton|Poppins&display=swap" rel="stylesheet">

    <!-- MapBox JS -->
    <script src="https://api.mapbox.com/mapbox.js/v3.2.0/mapbox.js"></script>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />

    <!-- D3 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

    <!-- Plotly JS-->


    <!-- Our CSS -->


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous">
    </script>
    <link rel="stylesheet" type="text/css" href="./static/css/style.css" />
</head>

<body>
    <nav class="navbar navbar-expand-lg fixed-top">
        <a id="nav_color1" class="navbar-brand" href="/">Home</a>
        <li class="nav-item dropdown">
            <a id="nav_color1" class="nav-link dropdown-toggle navbar-brand" id="navbarDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Energy
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="energy">Generation</a>
                <a class="dropdown-item" href="energy2">Consumption</a>
            </div>
        </li>
        <li>
            <a id="nav_color1" class="nav-link navbar-brand" href="electrical">Electrical Power Consumption</a>
        </li>
    </nav>

    <div class="title">
        <p>PROJECT ENERGY</p>
    </div>

    <article>
        <!-- Add Project Summary -->
        <div class="col-md-12 sum" align="center">
            <h7>Energy has always played an important role in defining the state of Texas. But how have other states
                compared? For our group project, we wanted to answer this question by looking at three key areas across all
                states: the production of energy, the consumption of energy, and the prices each state paid for that
                consumption.</h7>
            <h7> The US Energy Information Administration has a vast repository of information on these topics which can be found at
                https://www.eia.gov</h7>
            <h7>Information was collected and placed into a sqlite database for use across all charts on this website through using the Flask library in Python.
                Additional data was provided by using US Census geojson information on borders and boundaries.</h7>
        </div>
        <div class="row">
            <div class="col-md-12" align="center">
                <div id="map"></div>
            </div>
            <div class="col-md-12 pad align=" center">
                Using Leaflet.js with a choropleth overlay, we see the average price of energy per state in 2019. Lower
                prices could be found not only in Louisiana but in the Upper Rockies. Higher prices are centered more in
                the Northeast due to additional consumption of home heating oils during the winter months. Alaska and
                Hawaii also had high average energy prices due to their location.
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h6>States:</h6>
                <select id="selDataset" onchange="updatePlotly()"></select>
            </div>
            <div class="col-md-12" align="center">
                <div id="myDiv"></div>
            </div>
            <br>
            <div class="col-md-12 pad" align="center">
                <h1>The above charts reflect the price of energy (Cents per Kilowatt-hour) and a trend of the Average
                    Yearly Energy Prices from 2001-2019. Since 2001 energy prices have generally increased for every
                    state. Fun Fact: Texas energy prices have remained relatively consistent since 2011</h1>
            </div>
        </div>
    </article>
    </div>

    <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="../static/js/logic.js"></script>
    <script type="text/javascript" src="../static/js/choropleth.js"></script>
    <script type="text/javascript" src="../static/js/config.js"></script>
    <script type="text/javascript" src="../static/js/maplogic.js"></script>

    <style>
        marquee {
            font-size: 15px;
            font-weight: 800;
            color: #000000;
            font-family: sans-serif;
        }
    </style>
    <marquee>Team Members: Ariana Monteiro, Brandon Daniels, Derrik Dennis, Darren Lucca, Jen Trevino, Sebastian Galindo
    </marquee>
    <div class="footer">
        <div class="pad">
            <p>The data we used has been scraped from www.eia.gov </p>
            <p>UT Austin Data Bootcamp 2020</p>
        </div>
    </div>

</body>

</html>